@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Resetiranje osnovnih stilova */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0; /* Promjena boje pozadine */
}

/* NavBar */
.navbar {
    background-color: #333;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 999;
    margin: 10px;
    border-radius: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar .nav-item {
    display: inline-block;
    margin: 0 10px;
}

.navbar .nav-item a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar .nav-item a:hover {
    background-color: #0056b3;
}


/* Stilizacija tablice */
.car-table {
    margin: 20px auto;
    width: 80%;
}

.car-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-table th, .car-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.car-table th {
    background-color: #333;
    color: #fff;
}

.car-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.car-table tbody tr:hover {
    background-color: #ddd;
}

.car-table td button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.car-table td button:hover {
    background-color: #555;
}


/* Stilizacija forme za unos auta */
.add-car-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-car-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #555;
}

/* UpdateCar Form */
.update-car-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.update-car-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.update-car-form .form-group {
    margin-bottom: 15px;
}

.update-car-form label {
    display: block;
    margin-bottom: 5px;
}

.update-car-form input[type="text"],
.update-car-form input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-car-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-car-form button[type="submit"]:hover {
    background-color: #555;
}
