/* Stilizacija tablice */
.table-container {
    margin: 20px auto;
    width: 100%;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container th, .table-container td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-container th {
    background-color: #333;
    color: #fff;
}

.table-container tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-container tbody tr:hover {
    background-color: #ddd;
}

.table-container td button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.table-container td button:hover {
    background-color: #555;
}

/* Forma za unos auta */
.form-container {
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;

}

.form-container label {
    color: #555;
    margin-bottom: 8px;
}

.form-container input[type="text"],
.form-container input[type="number"] {
    width: calc(100% - 16px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button[type="submit"] {
    background-color: #525252;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    width: 20%;
    align-self: flex-end;
}

.form-container button[type="submit"]:hover {
    background-color: #39b300;
}

.select-input {
    width: calc(100% - 16px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff; /* Dodano */
}

.select-input:focus {
    outline: none;
}


/* Forma za update */
.update-form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.update-form-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.update-form-container label {
    color: #555;
    margin-bottom: 8px;
}

.update-form-container input[type="text"],
.update-form-container input[type="number"] {
    width: calc(100% - 16px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.update-form-container select {
    width: calc(100% - 16px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
}

.update-form-container button[type="submit"] {
    background-color: #525252;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    width: fit-content;
    align-self: flex-end;
}

.update-form-container button[type="submit"]:hover {
    background-color: #39b300;
}
